<% if agendas.present? %>
  <div class="headline">
    <h3><%= t('agenda.name') %></h3>
  </div>

  <ul class="agenda list-group">
    <li class="list-group-item">
      <h5 class="list-group-item-heading">
        <%= link_to agendas_path do%>
          <%= fa_icon('angle-double-up') %> <%= t('agenda.all') %>
        <% end %>
      </h5>
    </li>
    <% agendas.each do |agenda| %>
      <li class="<%= "list-group-item #{agenda}" %>">
        <h4 class="list-group-item-heading">
          <%= agenda_link(agenda) %>
        </h4>
        <span class="badge">
          <%= agenda_status(agenda) %>
        </span>
        <p class="list-group-item-text">
          <% if agenda.items.any? %>
              <% agenda.items.each do |item| %>
                <%= link_to(item, agenda_path(agenda, agenda_item: item)) %>
                <br>
              <% end %>
            <% else %>
              <br>
            <% end %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
